<div class="card card-outline-secondary my-4" [ngStyle]="{ 'display': isLoadingCategories ? 'none' : 'block' }">
    <!-- Sección de Categorías -->
    <div [ngStyle]="{'display' : view === 'categories' ? 'block' : 'none'}">
        <div class="card-header">
            Seleccione una categoría
        </div>
        <div class="categories-view">
            <div class="card category-card text-bg-dark" *ngFor="let category of categories">
                <img [src]="category.image" class="card-img" alt="{{ category.category }}">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ category.category }}</h5>
                </div>
                <button (click)="changeView('products', category)">Ver productos</button>
            </div>
        </div>
    </div>

    <!-- Sección de Productos -->
    <div class="flex-column align-items-center"
        [ngStyle]="{ 'display': view === 'products' && !isLoadingProducts ? 'flex' : 'none' }">
        <div class="card-header d-flex align-items-center justify-content-between w-100">
            <span>Todos los Productos</span>
            <a class="btn btn-sm btn-outline-secondary"
                (click)="changeView('categories', { activeCategoryId : activeCategoryId})">
                Regresar a Categorías
            </a>
        </div>
        <div class="card-body">
            <!-- Caja de búsqueda -->
            <div class="search-box">
                <input type="text" placeholder="Buscar productos..." (input)="searchProducts($event)" />
            </div>

            <!-- Opciones de Vista -->
            <div class="view-options">
                <span class="material-icons" (click)="onViewChange('grid_view')"
                    [ngClass]="{ 'active': activeView === 'grid_view' }">
                    grid_view
                </span>
                <span class="material-icons" (click)="onViewChange('list')"
                    [ngClass]="{ 'active': activeView === 'list' }">
                    list
                </span>
            </div>

            <div [ngStyle]="{ 'display': isSearching ? 'none' : 'flex' }" class="flex-column">
                <!-- Vista de Cuadrícula -->
                <div class="grid-products" *ngIf="activeView === 'grid_view'">
                    <div class="product-grid">
                        <app-card-producto *ngFor="let producto of products" [producto]="producto"></app-card-producto>
                    </div>
                </div>

                <!-- Vista de Lista -->
                <div class="table-products" *ngIf="activeView === 'list'">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <div class="d-flex align-items-center justify-content-between">
                                        Producto
                                        <span class="material-icons" (click)="sortProducts('product')">swap_vert</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex align-items-center justify-content-between">
                                        Precio
                                        <span class="material-icons" (click)="sortProducts('price')">swap_vert</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex align-items-center justify-content-between">
                                        Página web
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td><img [src]="product.image" alt="Imagen del producto" /></td>
                                <td>{{ product.product }}</td>
                                <td>{{ product.price | currency }}</td>
                                <td><a [href]="product.url" target="_blank">{{ product.url }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="loader-container" [ngStyle]="{ 'display': isSearching ? 'flex' : 'none' }">
                <div class="loader"></div>
            </div>
        </div>
        <div class="card-footer">
            <!-- Paginación -->
            <ngb-pagination [collectionSize]="totalProducts" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)">
            </ngb-pagination>
        </div>
    </div>
</div>

<!-- Loader mientras se cargan los productos -->
<div class="loader-container" [ngStyle]="{ 'display': isLoadingCategories || isLoadingProducts ? 'flex' : 'none' }">
    <div class="loader"></div>
</div>